@page
@model Server.Pages.UserPanel.IndexModel
@{
}

<main class="page-content">
    <div class="container">
        <div class="row mb-5">
            <partial name="PartialViews/_UserPanelSideBar"/>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="alert alert-warning alert-dismissible fade show mb-5" role="alert">
                    <div>
                        سفارش شما در انتظار پرداخت است. برای جلوگیری از لغو سفارش، لطفا پرداخت را انجام دهید.
                        <a href="#" class="btn btn-sm btn-primary mx-3">سفارش های من</a>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ui-box bg-white mb-5">
                            <div class="ui-box-title">لیست آخرین علاقمندی ها</div>
                            <div class="ui-box-content">
                                <div class="product-list">
                                    <!-- product-list-item -->
                                    <div class="product-list-item">
                                        <div class="thumbnail">
                                            <a href="#"><img src="~/assets/images/carts/01.jpg" alt=""></a>
                                        </div>
                                        <div class="detail">
                                            <a href="#" class="title fs-7 fw-bold mb-2">
                                                هدفون بی سیم سامسونگ مدل
                                                Galaxy
                                                Buds
                                                Live
                                            </a>
                                            <div class="price fa-num">
                                                <span class="fw-bold">9,000,000</span>
                                                <span class="currency">تومان</span>
                                            </div>
                                            <div class="action">
                                                <a href="#" class="btn btn-circle btn-outline-light"><i class="ri-close-line" data-remodal-target="remove-from-favorite-modal"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  product-list-item -->
                                    <!-- product-list-item -->
                                    <div class="product-list-item">
                                        <div class="thumbnail">
                                            <a href="#"><img src="~/assets/images/carts/02.jpg" alt=""></a>
                                        </div>
                                        <div class="detail">
                                            <a href="#" class="title fs-7 fw-bold mb-2">
                                                گوشی موبایل اپل مدل
                                                iPhone 13
                                                A2634
                                                دو سیم‌ کارت ظرفیت 256 گیگابایت و رم 4 گیگابایت
                                            </a>
                                            <div class="price fa-num">
                                                <span class="fw-bold">32,290,000 </span>
                                                <span class="currency">تومان</span>
                                            </div>
                                            <div class="action">
                                                <a href="#" class="btn btn-circle btn-outline-light"><i class="ri-close-line" data-remodal-target="remove-from-favorite-modal"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  product-list-item -->
                                    <!-- product-list-item -->
                                    <div class="product-list-item">
                                        <div class="thumbnail">
                                            <a href="#"><img src="~/assets/images/carts/03.jpg" alt=""></a>
                                        </div>
                                        <div class="detail">
                                            <a href="#" class="title fs-7 fw-bold mb-2">
                                                دوربین دیجیتال کانن مدل
                                                EOS
                                                4000D به
                                                همراه لنز 18-55 میلی متر DC III
                                            </a>
                                            <div class="price fa-num">
                                                <span class="fw-bold">41,700,000</span>
                                                <span class="currency">تومان</span>
                                            </div>
                                            <div class="action">
                                                <a href="#" class="btn btn-circle btn-outline-light"><i class="ri-close-line" data-remodal-target="remove-from-favorite-modal"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  product-list-item -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ui-box bg-white mb-5">
                            <div class="ui-box-title">آخرین بازدیدهای شما</div>
                            <div class="ui-box-content">
                                <div class="product-list">
                                    <!-- product-list-item -->
                                    <div class="product-list-item">
                                        <div class="thumbnail">
                                            <a href="#"><img src="~/assets/images/carts/01.jpg" alt=""></a>
                                        </div>
                                        <div class="detail">
                                            <a href="#" class="title fs-7 fw-bold mb-2">
                                                هدفون بی سیم سامسونگ مدل
                                                Galaxy
                                                Buds
                                                Live
                                            </a>
                                            <div class="price fa-num">
                                                <span class="fw-bold">9,000,000</span>
                                                <span class="currency">تومان</span>
                                            </div>
                                            <div class="action">
                                                <a href="#" class="btn btn-circle btn-outline-light"><i class="ri-close-line"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  product-list-item -->
                                    <!-- product-list-item -->
                                    <div class="product-list-item">
                                        <div class="thumbnail">
                                            <a href="#"><img src="~/assets/images/carts/02.jpg" alt=""></a>
                                        </div>
                                        <div class="detail">
                                            <a href="#" class="title fs-7 fw-bold mb-2">
                                                گوشی موبایل اپل مدل
                                                iPhone 13
                                                A2634
                                                دو سیم‌ کارت ظرفیت 256 گیگابایت و رم 4 گیگابایت
                                            </a>
                                            <div class="price fa-num">
                                                <span class="fw-bold">32,290,000 </span>
                                                <span class="currency">تومان</span>
                                            </div>
                                            <div class="action">
                                                <a href="#" class="btn btn-circle btn-outline-light"><i class="ri-close-line"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  product-list-item -->
                                    <!-- product-list-item -->
                                    <div class="product-list-item">
                                        <div class="thumbnail">
                                            <a href="#"><img src="~/assets/images/carts/03.jpg" alt=""></a>
                                        </div>
                                        <div class="detail">
                                            <a href="#" class="title fs-7 fw-bold mb-2">
                                                دوربین دیجیتال کانن مدل
                                                EOS
                                                4000D به
                                                همراه لنز 18-55 میلی متر DC III
                                            </a>
                                            <div class="price fa-num">
                                                <span class="fw-bold">41,700,000</span>
                                                <span class="currency">تومان</span>
                                            </div>
                                            <div class="action">
                                                <a href="#" class="btn btn-circle btn-outline-light"><i class="ri-close-line"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  product-list-item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="ui-box bg-white mb-5">
                            <div class="ui-box-title">لیست آخرین سفارشها</div>
                            <div class="ui-box-content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>@DataDictionaries.TrackingId</th>
                                                <th>@DataDictionaries.CreationDate</th>
                                                <th>@DataDictionaries.PaidPrice</th>
                                                <th>@DataDictionaries.TotalOrderPrice</th>
                                                <th>@DataDictionaries.OrderStatus</th>
                                                <th>@DataDictionaries.Operations</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var order in Model.OrderModels)
                                            {
                                                <tr>
                                                    <td class="font-en fw-bold">@order.TrackingNumber</td>
                                                    <td class="fa-num text-muted">@order.CreationDate</td>
                                                    <td class="fa-num fs-6 fw-bold">@order.PaidPrice.ToString("#,0")</td>
                                                    <td class="fa-num fs-6 fw-bold">@order.OrderTotalPrice<span class="currency">@DataDictionaries.Toman</span></td>
                                                    <td>
                                                        @if (order.Status == OrderStatuses.NotPaid)
                                                        {
                                                            <span class="badge bg-success rounded-pill fs-7">
                                                                @DataDictionaries.NotPaid
                                                            </span>
                                                        }
                                                        else if (order.Status == OrderStatuses.IsWaiting)
                                                        {
                                                            <span class="badge bg-success rounded-pill fs-7">
                                                                @DataDictionaries.IsWaiting
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge bg-success rounded-pill fs-7">
                                                                @DataDictionaries.Sent
                                                            </span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <a href="/UserPanel/OrderDetails/@order.OrderId" class="btn btn-sm btn-outline-light">@DataDictionaries.OrderDetails <i class="ri-arrow-left-s-fill"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- remove-from-favorite-modal -->
    <!--  remove-from-favorite-modal -->
</main>