@using Nancy.Json
@model UserManagement.Application.Contracts.Address.CreateAddressCommand
@inject IHttpContextAccessor _httpContextAccessor;
@{
    var serializer = new JavaScriptSerializer();
    var nameCookie = _httpContextAccessor.HttpContext.Request.Cookies["UserFullName"];
    var phoneCookie = _httpContextAccessor.HttpContext.Request.Cookies["Phone"];
    var userFullName = serializer.Deserialize<string>(nameCookie).Split('-');
    var phoneNumber = serializer.Deserialize<string>(phoneCookie);
    var firstName = userFullName[0];
    var lastName = userFullName[1];
}
<div class="modal-header">
    <div class="modal-title">@DataDictionaries.NewAddress</div>
</div>
<div class="modal-body">
    <form class="ajaxForm" asp-page="./index"
          asp-page-handler="Create"
          method="post"
          data-ajax="true"
          data-action="Refresh">
        <div class="row">
            <div class="col-md-12 mb-md-0 mb-4">

                <div class="row">
                    <div class="col-md-12 col-lg-12 mb-3">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 mb-3">
                                <div class="form-element-row">
                                    <label class="label fs-7">@DataDictionaries.ReceiverFirstName</label>
                                    <input asp-for="ReceiverFirstName" type="text" class="form-control">
                                    <span asp-validation-for="ReceiverFirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 mb-3">
                                <div class="form-element-row">
                                    <label class="label fs-7">@DataDictionaries.ReceiverLastName</label>
                                    <input asp-for="ReceiverLastName" type="text" class="form-control">
                                    <span asp-validation-for="ReceiverLastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-element-row">
                            <label class="label fs-7">@DataDictionaries.ReceiverPhoneNumber</label>
                            <input asp-for="ReceiverPhoneNumber" type="text" class="form-control">
                            <span asp-validation-for="ReceiverPhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input id="selfAddressCheck" type="checkbox"><p style="display: inline;margin-right:5px">@DataDictionaries.SelfAddressMessage</p>
                        </div>
                        <div class="form-element-row">
                            <label class="label fs-7">@DataDictionaries.State</label>
                            <input asp-for="State" type="text" class="form-control">
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="form-element-row">
                            <label class="label fs-7">@DataDictionaries.City</label>
                            <input asp-for="City" type="text" class="form-control">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-element-row">
                            <label class="label fs-7">@DataDictionaries.Neighborhood</label>
                            <input asp-for="NeighborHood" type="text" class="form-control">
                            <span asp-validation-for="NeighborHood" class="text-danger"></span>
                        </div>
                        <div class="form-element-row">
                            <label class="label fs-7">@DataDictionaries.Number</label>
                            <input asp-for="Number" type="number" class="form-control">
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                        <div class="form-element-row">
                            <label class="label fs-7">@DataDictionaries.PostCode</label>
                            <input asp-for="PostCode" type="number" class="form-control">
                            <span asp-validation-for="PostCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button class="btn btn-sm btn-primary px-3">@ButtonCaptions.Save</button>
        </div>
    </form>
</div>
<script src="~/assets/js/library/jquery.validate.min.js"></script>
<script src="~/assets/js/library/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $("#selfAddressCheck").click(function() {
        if (this.checked) {
            $("#ReceiverFirstName").val("@Html.Raw(firstName)").attr("disabled", true);
            $("#ReceiverLastName").val("@Html.Raw(lastName)").attr("disabled", true);
            $("#ReceiverPhoneNumber").val("@Html.Raw(phoneNumber)").attr("disabled", true);
        } else {
            $("#ReceiverFirstName").val("").attr("disabled", false);
            $("#ReceiverLastName").val("").attr("disabled", false);
            $("#ReceiverPhoneNumber").val("").attr("disabled", false);
        }
    });
</script>
