@page "{handler?}"
@using UserManagement.Infrastructure.EfCore.Repositories
@model Server.Pages.UserPanel.Addresses.IndexModel
@{
}

<main class="page-content">
    <div class="container">
        <div class="row mb-5">

            <partial name="PartialViews/_UserPanelSideBar"></partial>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="ui-box bg-white mb-5">
                    <div class="ui-box-title">@DataDictionaries.Addresses</div>
                    <div class="ui-box-content">

                        <div class="user-address-items">

                            @foreach (var address in Model.AddressVm)
                            {
                                <div class="user-address-item">
                                    <div class="custom-radio-box">
                                        <input type="radio" class="custom-radio-box-input" name="userAddress" @((address.IsDefault)?"checked":"") id="@address.AddressId">
                                        <label  id="@address.AddressId" for="@address.AddressId" class="custom-radio-box-label addressLabel" data-placeholder="@DataDictionaries.DefaultAddressPlaceholder" data-placeholder-checked="@DataDictionaries.DefaultAddressMessage">
                                            <span class="d-block user-address-recipient mb-2">
                                                @(address.State+","+address.City)
                                            </span>
                                            <span class="d-block user-contact-items fa-num mb-3">
                                                <span class="user-contact-item">
                                                    <i class="ri-mail-line icon"></i>
                                                    <span class="value">@address.PostCode</span>
                                                </span>
                                                <span class="user-contact-item">
                                                    <i class="ri-phone-line icon"></i>
                                                    <span class="value">@address.UserPhoneNumber</span>
                                                </span>
                                                <span class="user-contact-item">
                                                    <i class="ri-user-line icon"></i>
                                                    <span class="value">@address.UserFullName</span>
                                                </span>
                                            </span>
                                            <span class="d-flex align-items-center justify-content-end">
                                                <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="remove-from-addresses-modal">@ButtonCaptions.Delete</a>
                                                <span class="text-secondary mx-2">|</span>
                                                <a href="#" class="link border-bottom-0 fs-7 fw-bold" data-remodal-target="edit-address-modal">@ButtonCaptions.Edit</a>
                                            </span>
                                        </label>
                                        
                                    </div>
                                </div>
                            }

                            <div class="user-address-item user-add-address-btn-container">
                                <button id="btnCreateAddress" class="user-add-address-btn">
                                    <i class="ri-add-line icon"></i>
                                    <span>@ButtonCaptions.NewAddress</span>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
@*
<div class="remodal remodal-xs" data-remodal-id="remove-from-addresses-modal" data-remodal-options="hashTracking: false">
    <div class="remodal-header">
        <button data-remodal-action="close" class="remodal-close"></button>
    </div>
    <div class="remodal-content">
        <div class="text-muted fs-7 fw-bold mb-3">
            آیا مطمئنید که این آدرس حذف شود؟
        </div>
    </div>
    <div class="remodal-footer">
        <button data-remodal-action="cancel" class="btn btn-sm btn-outline-light px-3 me-2">خیر</button>
        <button class="btn btn-sm btn-primary px-3">بله</button>
    </div>
</div>*@



@section Scripts
{
<script>
    $("#btnCreateAddress").click(function() {
        $("#mainModalContent").load("/UserPanel/Addresses/Create");
        $("#mainModal").modal('show');
    });
</script>
}
