@page "{handler?}"
@model Server.Pages.CartModel
@{
}

<main class="page-content">
    <div class="container">
        @if (Model.CartItemVm.Any())
        {
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane py-4 fade active show" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                            <div class="ui-box bg-white p-2">
                                <div class="ui-box-content">
                                    <div class="cart-items">
                                        @foreach (var item in Model.CartItemVm)
                                        {
                                            <div class="cart-item">
                                                <div class="cart-item--thumbnail">
                                                    <a href="#">
                                                        <img src="~/Products/Images/@item.ImageName" alt="">
                                                    </a>
                                                </div>
                                                <div class="cart-item--detail">
                                                    <h2 class="cart-item--title mb-2">
                                                        <a href="~/Products/@item.Id">@item.Title</a>
                                                    </h2>
                                                    <div class="cart-item--variant mb-2">
                                                        <span class="color" style="background-color: @item.ColorCode"></span>
                                                        <span class="ms-1">@item.ColorName</span>
                                                    </div>
                                                    <div class="cart-item--data mb-4">
                                                        <ul>
                                                            <li>
                                                                <i class="ri-shield-check-fill text-secondary"></i><span>
                                                                    @DataDictionaries.AuthenticityWarranty
                                                                </span>
                                                            </li>
                                                            <li>
                                                                <i class="ri-store-3-fill text-secondary"></i><span>
                                                                    @DataDictionaries.ShopName
                                                                </span>
                                                            </li>
                                                            @if (item.IsInStock)
                                                            {
                                                                <li>
                                                                    <i class="ri-checkbox-multiple-fill text-primary"></i><span>
                                                                        @DataDictionaries.AvailableInStock
                                                                    </span>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li>
                                                                    <i class="ri-close-circle-fill text-primary"></i><span>
                                                                        @DataDictionaries.NotAvailable
                                                                    </span>
                                                                </li>
                                                            }
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="cart-item--price--actions">
                                                        
                                                        @if (item.IsInStock)
                                                        {
                                                            <div class="cart-item--actions">
                                                                <div class="num-block fa-num me-3">
                                                                    <div class="num-in">
                                                                        <span onclick="ChangeItemCount('plus','@item.Guid')" class="plus"></span>
                                                                        <input id="@item.Guid" type="number" class="in-num" value="@item.Count" readonly="">
                                                                        <span onclick="ChangeItemCount('minus','@item.Guid')"  class="minus dis"></span>
                                                                    </div>
                                                                </div>
                                                                <a href="/Cart/RemoveFromCart?id=@item.Id" class="btn btn-link btn-sm text-secondary"><i class="ri-delete-bin-5-line me-1"></i><span>@ButtonCaptions.Delete</span></a>
                                                            </div>

                                                            long? discountPrice = null;
                                                            if (item.DiscountRate != null)
                                                            {
                                                                discountPrice = (item.DiscountRate * item.TotalItemPrice / 100);
                                                            }

                                                            <div class="cart-item--price fa-num">
                                                                @if (discountPrice != null)
                                                                {
                                                                    <div class="cart-item--discount">
                                                                        <span>@DataDictionaries.Discount</span>
                                                                        <span>@discountPrice.Value.ToString("#,0")</span>
                                                                        <span class="currency">@DataDictionaries.Toman</span>
                                                                    </div>
                                                                }

                                                                <div class="cart-item--price-now">
                                                                    <span>@((discountPrice!=null)?(item.TotalItemPrice-discountPrice!)?.ToString("#,0"):item.TotalItemPrice.ToString("#,0"))</span>
                                                                    <span class="currency">@DataDictionaries.Toman</span>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    long totalProductsPrice = Model.CartItemVm.Where(i => i.IsInStock).Sum(i => i.TotalItemPrice);
                    long totalDiscountsPrice = Model.CartItemVm.Where(i => i.IsInStock).Sum(i => ((i.DiscountRate != null) ? (i.DiscountRate * i.TotalItemPrice)/100  : 0).Value);
                    long totalCartPrice = totalProductsPrice - totalDiscountsPrice;
                }
                <div class="col-xl-3 col-lg-4">
                    <div class="ui-sticky ui-sticky-top">
                        <!-- checkout-bill -->
                    <div class="checkout-bill ui-box bg-white mb-5">
                            <div class="checkout-bill-row">
                                <div class="checkout-bill-row-label">@DataDictionaries.TotalProductsPrice (@Model.CartItemVm.Count)</div>
                                <div class="checkout-bill-row-value">
                                    <span class="fs-6">@totalProductsPrice.ToString("#,0")</span> <span class="currency">@DataDictionaries.Toman</span>
                                </div>
                            </div>
                            <div class="checkout-bill-row">
                                <div class="checkout-bill-row-label">@DataDictionaries.TotalProductsDiscount</div>
                                <div class="checkout-bill-row-value">
                                    <span class="fs-6 text-danger">@totalDiscountsPrice.ToString("#,0")</span>
                                    <span class="currency text-danger">@DataDictionaries.Toman</span>
                                </div>
                            </div>
                            <div class="checkout-bill-row">
                                <div class="checkout-bill-row-label">@DataDictionaries.TotalCartPrice</div>
                                <div class="checkout-bill-row-value">
                                    <span class="fs-6">@totalCartPrice.ToString("#,0")</span> <span class="currency">@DataDictionaries.Toman</span>
                                </div>
                            </div>
                            <div class="checkout-bill-row checkout-bill-note">
                                @DataDictionaries.CheckoutMessage
                            </div>
                            <div class="checkout-bill-row checkout-bill-action">
                                <a href="/Shipping" class="btn btn-block btn-primary">@ButtonCaptions.ContinueShoppingProcess</a>
                            </div>
                        </div>
                        <!--  checkout-bill -->
                        <!-- widget -->
                    <div class="widget p-0">
                            <div class="widget-content widget--free-shipping">
                                <div class="free-shipping--detail">
                                    <div class="title">@DataDictionaries.FreeDelivery</div>
                                    <div class="subtitle">@DataDictionaries.ForSpecialOrders</div>
                                </div>
                                <div class="free-shipping--banner">
                                    <img src="./assets/images/theme/free-shipping--banner.png" alt="@DataDictionaries.FreeDelivery">
                                </div>
                            </div>
                        </div>
                        <!--  widget -->
                </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-12">
                <div class="tab-content" id="nav-tabContent">
                    <!-- tab-pane -->
                <div class="tab-pane py-4 fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                        <div class="ui-box bg-white">
                            <div class="ui-box-empty-content">
                                <div class="ui-box-empty-content-icon">
                                    <img src="./assets/images/theme/cart-empty.png" alt="">
                                </div>
                                <div class="ui-box-empty-content-message text-center">
                                    <div class="mb-3">@DataDictionaries.EmptyCard</div>
                                    <p class="text-secondary text-decoration-none fs-7 fw-bold">
                                        @DataDictionaries.EmptyCardMessage
                                    </p>
                                    <div class="d-flex justify-content-center flex-wrap">
                                        <a href="/Products?SearchModel.OrderBy=newest" class="link fs-7 fw-bold border-bottom-0 m-2">
                                            @DataDictionaries.NewProducts
                                        </a>
                                        <a href="/Products?SearchModel.OrderBy=bestSelling" class="link fs-7 fw-bold border-bottom-0 m-2">
                                            @DataDictionaries.BestSellerProducts
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>