@page
@using _01_Framework.Application
@model Server.Pages.CheckoutResultModel
@{
}


<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                @if (!Convert.ToBoolean(ViewData["IsSuccessfull"]))
                {
                    <div class="ui-box bg-white mb-5">
                        <div class="ui-box-content">
                            <div class="row">
                                <div class="col-md-8 order-md-1 order-2">
                                    <div class="fs-5 fw-bold text-danger mb-3">
                                        متاسفانه پرداخت شما ناموفق بود!
                                    </div>
                                    <div class="text-danger mb-3">
                                        برای جلوگیری از حذف خودکار سفارش، لطفا مبلغ آن را
                                        تا ۵۹
                                        دقیقه آینده پرداخت نمایید.
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <a href="#" class="btn btn-primary me-4">پرداخت مجدد</a>
                                        <a href="#" class="btn btn-link">تغییر روش پرداخت</a>
                                    </div>
                                </div>
                                <div class="col-md-4 order-md-2 order-1 mb-md-0 mb-4 text-center">
                                    <img src="~/assets/images/theme/checkout-unsuccessful.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="ui-box bg-white mb-5">
                        <div class="ui-box-content">
                            <div class="row">
                                <div class="col-md-8 order-md-1 order-2">
                                    <div class="fs-5 fw-bold text-success mb-3">
                                        با موفقیت پرداخت و ثبت گردید.
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <div class="text-secondary me-3">شماره سفارش:</div>
                                        <div class="font-en">@ViewData["RefId"].ToString()</div>
                                    </div>
                                    <div class="text-success mb-3">
                                        پرداخت با موفقیت انجام شد. سفارش شما با موفقیت
                                        ثبت
                                        شد و در زمان تعیین‌شده برای شما ارسال خواهد شد. از اینکه ما را برای
                                        خرید انتخاب کردید از شما سپاسگزاریم.
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <a href="#" class="btn btn-primary me-4">پیگیری سفارش</a>
                                    </div>
                                </div>
                                <div class="col-md-4 order-md-2 order-1 mb-md-0 mb-4 text-center">
                                    <img src="~/assets/images/theme/checkout-successful.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="ui-box bg-white mb-5">
                    <div class="ui-box-content fa-num">
                        <div class="row fs-7 fw-bold">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <div class="text-muted mb-2">@DataDictionaries.Number</div>
                                <div class="text-dark">1</div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <div class="text-muted mb-2">@DataDictionaries.PaymentGateway</div>
                                <div class="text-dark">@DataDictionaries.Zarinpal</div>
                            </div>
                            @if (ViewData["RefId"] != null)
                            {
                                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                    <div class="text-muted mb-2">@DataDictionaries.TrackingId</div>
                                    <div class="text-dark">@ViewData["RefId"]</div>
                                </div>
                            }
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <div class="text-muted mb-2">@DataDictionaries.Date</div>
                                <div class="text-dark">@DateTime.Now.ToShamsi()</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

