@page
@model Server.Pages.PaymentModel
@{
}


<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 mb-lg-0 mb-4">
            <div class="ui-box bg-white payment-methods mb-5">
                    <div class="ui-box-title">شیوه پرداخت</div>
                    <div class="ui-box-content">
                        <div class="custom-radio-outline">
                            <input type="radio" class="custom-radio-outline-input" name="checkoutPayment" id="checkoutPayment01">
                            <label for="checkoutPayment01" class="custom-radio-outline-label">
                                <span class="label">
                                    <span class="icon"><i class="ri-secure-payment-fill"></i></span>
                                    <span class="detail">
                                        <span class="title">پرداخت اینترنتی</span>
                                        <span class="subtitle">آنلاین با تمامی کارت‌های بانکی</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="custom-radio-outline">
                            <input type="radio" class="custom-radio-outline-input" name="checkoutPayment" id="checkoutPayment02">
                            <label for="checkoutPayment02" class="custom-radio-outline-label">
                                <span class="label">
                                    <span class="icon"><i class="ri-wallet-3-fill"></i></span>
                                    <span class="detail">
                                        <span class="title">پرداخت از طریق کیف پول</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--  payment-methods -->
                <!-- coupon-gift -->
                <div class="ui-box bg-white mb-5">
                    <div class="ui-box-title">تخفیف و کارت هدیه</div>
                    <div class="ui-box-content">
                        <div class="coupon-gift--container">
                            <div class="coupon">
                                <form asp-page="Payment"
                                      asp-page-handler="ConfirmDiscount" 
                                      data-ajax="true"
                                      data-action="Refresh"
                                      class="coupon-form"
                                      method="post">
                                    <div class="form-element-row with-btn">
                                        <input asp-for="CartDiscountCommand.DiscountCode" type="text" class="form-control" placeholder="افزودن کد تخفیف">
                                        <button class="btn btn-primary btn-action">ثبت</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  coupon-gift -->
                <div class="ui-box bg-white mb-3">
                    <div class="ui-box-title">خلاصه سفارش</div>
                    <div class="ui-box-content">
                        <!-- nav-tabs -->
                        <nav>
                            <div class="nav nav-tabs fa-num" id="shipping-type" role="tablist">
                                <button class="nav-link fs-6 fw-bold active" id="shipping-type-1-tab" data-bs-toggle="tab" data-bs-target="#shipping-type-1" type="button" role="tab" aria-controls="shipping-type-1" aria-selected="true">
                                    <span class="d-flex flex-column align-items-start">
                                        <span class="d-flex align-items-center">مرسوله 1</span>
                                    </span>
                                </button>
                                <button class="nav-link fs-6 fw-bold" id="shipping-type-2-tab" data-bs-toggle="tab" data-bs-target="#shipping-type-2" type="button" role="tab" aria-controls="shipping-type-2" aria-selected="false">
                                    <span class="d-flex flex-column align-items-start">
                                        <span class="d-flex align-items-center">مرسوله 2</span>
                                    </span>
                                </button>
                            </div>
                        </nav>
                        <!--  nav-tabs -->
                        <!-- tab-content -->
                        <div class="tab-content" id="shipping-type-tabContent">
                            <!-- tab-pane -->
                            <div class="tab-pane py-4 fade show active" id="shipping-type-1" role="tabpanel" aria-labelledby="shipping-type-1">
                                <!-- checkout-pack -->
                                <div class="checkout-pack">
                                    <div class="checkout-pack-header fa-num">
                                        <div class="checkout-pack-title">
                                            <span class="fs-7 text-muted">
                                                مبلغ
                                                مرسوله:
                                            </span> <span>42,420,000 <span class="currency">تومان</span></span>
                                        </div>
                                        <div class="checkout-pack-detail">
                                            <span>۳ کالا</span>
                                            <span class="divider"></span>
                                            <span>تامین کالا از ۱ روز کاری آینده</span>
                                        </div>
                                        <div class="checkout-pack-subtitle">
                                            <i class="ri-truck-fill icon"></i>
                                            ارسال عادی
                                        </div>
                                    </div>
                                    <div class="checkout-pack-content">
                                        <!-- Slider main container -->
                                        <div class="swiper checkout-pack-swiper-slider mb-5 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                                            <!-- wrapper -->
                                            <div class="swiper-wrapper" id="swiper-wrapper-739b7ed771103a9c10" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                                                <!-- Slides -->
                                                <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 3" style="width: 209.75px; margin-left: 10px;">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/01.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-title">
                                                                هدفون بی سیم سامسونگ مدل Galaxy Buds Live
                                                            </div>
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #fad7c2;"></span>
                                                                <span class="ms-1">طلایی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 3" style="width: 209.75px; margin-left: 10px;">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/02.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-title">
                                                                گوشی موبایل اپل مدل iPhone 13 A2634 دو سیم‌ کارت
                                                                ظرفیت 256 گیگابایت و رم 4 گیگابایت
                                                            </div>
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" role="group" aria-label="3 / 3" style="width: 209.75px; margin-left: 10px;">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/03.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-title">
                                                                دوربین دیجیتال کانن مدل EOS 4000D به همراه لنز
                                                                18-55 میلی متر DC III
                                                            </div>
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- navigation buttons -->
                                            <div class="swiper-button-prev swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-739b7ed771103a9c10" aria-disabled="true"></div>
                                            <div class="swiper-button-next swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-739b7ed771103a9c10" aria-disabled="true"></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--  checkout-pack -->
                            </div>
                            <!--  tab-pane -->
                            <!-- tab-pane -->
                            <div class="tab-pane py-4 fade" id="shipping-type-2" role="tabpanel" aria-labelledby="shipping-type-2-tab">
                                <!-- checkout-pack -->
                                <div class="checkout-pack">
                                    <div class="checkout-pack-header fa-num">
                                        <div class="checkout-pack-title">
                                            <span class="fs-7 text-muted">
                                                مبلغ
                                                مرسوله:
                                            </span> <span>42,420,000 <span class="currency">تومان</span></span>
                                        </div>
                                        <div class="checkout-pack-detail">
                                            <span>۳ کالا</span>
                                            <span class="divider"></span>
                                            <span>تامین کالا از ۱ روز کاری آینده</span>
                                        </div>
                                        <div class="checkout-pack-subtitle">
                                            <i class="ri-truck-fill icon"></i>
                                            ارسال عادی
                                        </div>
                                    </div>
                                    <div class="checkout-pack-content">
                                        <!-- Slider main container -->
                                        <div class="swiper checkout-pack-swiper-slider mb-5 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                                            <!-- wrapper -->
                                            <div class="swiper-wrapper" id="swiper-wrapper-76c910a1fedb71fff" aria-live="polite" style="transition-duration: 0ms;">
                                                <!-- Slides -->
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/01.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-title">
                                                                هدفون بی سیم سامسونگ مدل Galaxy Buds Live
                                                            </div>
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #fad7c2;"></span>
                                                                <span class="ms-1">طلایی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/02.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-title">
                                                                گوشی موبایل اپل مدل iPhone 13 A2634 دو سیم‌ کارت
                                                                ظرفیت 256 گیگابایت و رم 4 گیگابایت
                                                            </div>
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/03.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-title">
                                                                دوربین دیجیتال کانن مدل EOS 4000D به همراه لنز
                                                                18-55 میلی متر DC III
                                                            </div>
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- navigation buttons -->
                                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-76c910a1fedb71fff" aria-disabled="false"></div>
                                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-76c910a1fedb71fff" aria-disabled="false"></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--  checkout-pack -->
                                <!-- checkout-pack -->
                                <div class="checkout-pack">
                                    <div class="checkout-pack-header fa-num">
                                        <div class="checkout-pack-title">
                                            <span class="fs-7 text-muted">
                                                مبلغ
                                                مرسوله:
                                            </span> <span>42,420,000 <span class="currency">تومان</span></span>
                                        </div>
                                        <div class="checkout-pack-detail">
                                            <span>۳ کالا</span>
                                            <span class="divider"></span>
                                            <span>تامین کالا از ۱ روز کاری آینده</span>
                                        </div>
                                        <div class="checkout-pack-subtitle">
                                            <i class="ri-truck-fill icon"></i>
                                            ارسال عادی
                                        </div>
                                    </div>
                                    <div class="checkout-pack-content">
                                        <!-- Slider main container -->
                                        <div class="swiper checkout-pack-swiper-slider mb-5 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                                            <!-- wrapper -->
                                            <div class="swiper-wrapper" id="swiper-wrapper-832a2f8af86c63da" aria-live="polite" style="transition-duration: 0ms;">
                                                <!-- Slides -->
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/01.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-title">
                                                                هدفون بی سیم سامسونگ مدل Galaxy Buds Live
                                                            </div>
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #fad7c2;"></span>
                                                                <span class="ms-1">طلایی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/02.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-title">
                                                                گوشی موبایل اپل مدل iPhone 13 A2634 دو سیم‌ کارت
                                                                ظرفیت 256 گیگابایت و رم 4 گیگابایت
                                                            </div>
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="checkout-pack-item">
                                                        <div class="checkout-pack-item-thumbnail">
                                                            <a href="#">
                                                                <img src="./assets/images/carts/03.jpg" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="checkout-pack-item-detail">
                                                            <div class="checkout-pack-item-title">
                                                                دوربین دیجیتال کانن مدل EOS 4000D به همراه لنز
                                                                18-55 میلی متر DC III
                                                            </div>
                                                            <div class="checkout-pack-item-variant">
                                                                <span class="color" style="background-color: #000;"></span>
                                                                <span class="ms-1">مشکی</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- navigation buttons -->
                                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-832a2f8af86c63da" aria-disabled="false"></div>
                                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-832a2f8af86c63da" aria-disabled="false"></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--  checkout-pack -->
                            </div>
                            <!--  tab-pane -->
                        </div>
                        <!--  tab-content -->
                    </div>
                </div>
                <a href="#" class="link border-bottom-0">
                    <i class="ri-arrow-right-s-fill"></i> بازگشت به شیوه ی
                    ارسال
                </a>
            </div>
            <div class="col-xl-3 col-lg-4">
                    <div class="ui-sticky ui-sticky-top">
                        <div class="checkout-bill ui-box bg-white mb-5">
                            <div class="checkout-bill-row">
                                <div class="checkout-bill-row-label">@DataDictionaries.TotalProductsPrice (@PaymentModel.Cart.CartItems.Count)</div>
                                <div class="checkout-bill-row-value">
                                    <span class="fs-6">@PaymentModel.Cart.TotalCartPrice.ToString("#,0")</span> <span class="currency">@DataDictionaries.Toman</span>
                                </div>
                            </div>
                            <div class="checkout-bill-row">
                                <div class="checkout-bill-row-label">@DataDictionaries.ProductDiscounts</div>
                                <div class="checkout-bill-row-value">
                                    <span class="fs-6 text-danger">@PaymentModel.Cart.TotalProductDiscounts.ToString("#,0")</span>
                                    <span class="currency text-danger">@DataDictionaries.Toman</span>
                                </div>
                            </div>
                            <div class="checkout-bill-row">
                                <div class="checkout-bill-row-label">@DataDictionaries.OrderDiscount</div>
                                <div class="checkout-bill-row-value">
                                    <span class="fs-6 text-danger">@((PaymentModel.Cart.TotalOrderDiscount!=null)?PaymentModel.Cart.TotalOrderDiscount.Value.ToString("#,0"):0)</span>
                                    <span class="currency text-danger">@DataDictionaries.Toman</span>
                                </div>
                            </div>
                            <div class="checkout-bill-row">
                                <div class="checkout-bill-row-label">@DataDictionaries.TotalCartPrice</div>
                                <div class="checkout-bill-row-value">
                                    <span class="fs-6">@PaymentModel.Cart.RemainingPrice.ToString("#,0")</span> <span class="currency">@DataDictionaries.Toman</span>
                                </div>
                            </div>
                            <div class="checkout-bill-row checkout-bill-note">
                                @DataDictionaries.CheckoutMessage
                            </div>
                            <div class="checkout-bill-row checkout-bill-action">
                                <button type="submit" id="btnContinue" class="btn btn-block btn-primary">@ButtonCaptions.ContinueShoppingProcess</button>
                            </div>
                        </div>
                        <div class="widget p-0">
                            <div class="widget-content widget--free-shipping">
                                <div class="free-shipping--detail">
                                    <div class="title">@DataDictionaries.FreeDelivery</div>
                                    <div class="subtitle">@DataDictionaries.ForSpecialOrders</div>
                                </div>
                                <div class="free-shipping--banner">
                                    <img src="./assets/images/theme/free-shipping--banner.png" alt="@DataDictionaries.FreeDelivery">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</main>

@section Scripts
{
    @if (Convert.ToBoolean(ViewData["DiscountConfirmed"]))
    {
        <text>
            <script>
                iziToast.warning({
                    message: '@Html.Raw(ConfirmationMessages.DiscountConfirmationMessage)',
                    rtl: true,
                    position: 'bottomCenter',
                    timeout: 3000
                });
            </script>
        </text>
    }
}
