@page "{handler?}"
@model Server.Pages.PaymentModel
@{
    Layout = "Shared/Layouts/_CartLayout";
}

<header class="page-mini-header">
    <div class="container">
        <div class="d-flex justify-content-center pt-3 pb-5">
            <div class="logo-container">
                <a href="/" class="logo"><img src="~/assets/images/logo-dark.png" width="150" alt=""></a>
            </div>
        </div>
        <ul class="checkout-steps">
            <li class="checkout-step-active">
                <a href="#"><span class="checkout-step-title" data-title="اطلاعات ارسال"></span></a>
            </li>
            <li class="checkout-step-active">
                <a href="#"><span class="checkout-step-title" data-title="پرداخت"></span></a>
            </li>
            <li>
                <a href="#"><span class="checkout-step-title" data-title="اتمام خرید و ارسال"></span></a>
            </li>
        </ul>
    </div>
</header>
<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 mb-lg-0 mb-4">
                <div class="ui-box bg-white payment-methods mb-5">
                    <div class="ui-box-title">شیوه پرداخت</div>
                    <div class="ui-box-content">
                        <div class="custom-radio-outline">
                            <input type="radio" class="custom-radio-outline-input" name="paymentType" id="checkoutPayment02" checked="">
                            <label for="checkoutPayment02" class="custom-radio-outline-label">
                                <span class="label">
                                    <span class="icon"><i class="ri-secure-payment-fill"></i></span>
                                    <span class="detail">
                                        <span class="title">پرداخت اینترنتی</span>
                                        <span class="subtitle">آنلاین با تمامی کارت‌های بانکی</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="custom-radio-outline">
                            <input type="radio" class="custom-radio-outline-input" name="paymentType" id="checkoutPayment01">
                            <label for="checkoutPayment01" class="custom-radio-outline-label">
                                <span class="label">
                                    <span class="icon"><i class="ri-wallet-3-fill"></i></span>
                                    <span class="detail">
                                        <span class="title">پرداخت از طریق کیف پول</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--  payment-methods -->
                <!-- coupon-gift -->
                <div class="ui-box bg-white mb-5">
                    <div class="ui-box-title">تخفیف و کارت هدیه</div>
                    <div class="ui-box-content">
                        <div class="coupon-gift--container">
                            <div class="coupon">
                                <form asp-page="Payment"
                                      asp-page-handler="ConfirmDiscount"
                                      data-ajax="true"
                                      data-action="Refresh"
                                      class="coupon-form"
                                      method="post">
                                    <div class="form-element-row with-btn">
                                        <input asp-for="CartDiscountCommand.DiscountCode" type="text" class="form-control" placeholder="افزودن کد تخفیف">
                                        <button class="btn btn-primary btn-action">ثبت</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="link border-bottom-0">
                    <i class="ri-arrow-right-s-fill"></i> @ButtonCaptions.ReturnShipping
                </a>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="ui-sticky ui-sticky-top">
                    <div class="checkout-bill ui-box bg-white mb-5">
                        <div class="checkout-bill-row">
                            <div class="checkout-bill-row-label">@DataDictionaries.TotalProductsPrice (@PaymentModel.Cart.CartItems.Count)</div>
                            <div class="checkout-bill-row-value">
                                <span class="fs-6">@PaymentModel.Cart.TotalCartPrice.ToString("#,0")</span> <span class="currency">@DataDictionaries.Toman</span>
                            </div>
                        </div>
                        <div class="checkout-bill-row">
                            <div class="checkout-bill-row-label">@DataDictionaries.ProductDiscounts</div>
                            <div class="checkout-bill-row-value">
                                <span class="fs-6 text-danger">@PaymentModel.Cart.TotalProductDiscounts.ToString("#,0")</span>
                                <span class="currency text-danger">@DataDictionaries.Toman</span>
                            </div>
                        </div>
                        <div class="checkout-bill-row">
                            <div class="checkout-bill-row-label">@DataDictionaries.OrderDiscount</div>
                            <div class="checkout-bill-row-value">
                                <span class="fs-6 text-danger">@((PaymentModel.Cart.TotalOrderDiscount!=null)?PaymentModel.Cart.TotalOrderDiscount.Value.ToString("#,0"):0)</span>
                                <span class="currency text-danger">@DataDictionaries.Toman</span>
                            </div>
                        </div>
                        <div class="checkout-bill-row">
                            <div class="checkout-bill-row-label">@DataDictionaries.TotalCartPrice</div>
                            <div class="checkout-bill-row-value">
                                <span class="fs-6">@PaymentModel.Cart.RemainingPrice.ToString("#,0")</span> <span class="currency">@DataDictionaries.Toman</span>
                            </div>
                        </div>
                        <div class="checkout-bill-row checkout-bill-note">
                            @DataDictionaries.CheckoutMessage
                        </div>
                        <form method="get" asp-page-handler="ConfirmPaymentTypeForOrder">
                            <div class="checkout-bill-row checkout-bill-action">
                                <input type="hidden" asp-for="CartPaymentCommand.PaymentType" value="2" />
                                <button type="submit" id="btnContinue" class="btn btn-block btn-primary">@ButtonCaptions.PayOrder</button>
                            </div>
                        </form>
                    </div>
                    <div class="widget p-0">
                        <div class="widget-content widget--free-shipping">
                            <div class="free-shipping--detail">
                                <div class="title">@DataDictionaries.FreeDelivery</div>
                                <div class="subtitle">@DataDictionaries.ForSpecialOrders</div>
                            </div>
                            <div class="free-shipping--banner">
                                <img src="~/assets/images/theme/free-shipping--banner.png" alt="@DataDictionaries.FreeDelivery">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts
{
    @if (Convert.ToBoolean(ViewData["DiscountConfirmed"]))
    {
<text>
    <script>
        iziToast.warning({
            message: '@Html.Raw(ConfirmationMessages.DiscountConfirmationMessage)',
            rtl: true,
            position: 'bottomCenter',
            timeout: 3000
        });
    </script>
</text>
    }
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <text>
            <script>
                iziToast.warning({
                    message: '@Html.Raw(Model.ErrorMessage)',
                    rtl: true,
                    position: 'bottomCenter',
                    timeout: 3000
                });
            </script>
        </text>
    }
<script>
    $("#checkoutPayment01").click(function() {
        $("#CartPaymentCommand_PaymentType").val(1);
    });
    $("#checkoutPayment02").click(function() {
        $("#CartPaymentCommand_PaymentType").val(2);
    });
</script>
}
