@page "{productId}"
@model Server.Pages.ProductModel
@{
}

<main class="page-content">
    <div class="container">

        <div class="product-detail-container mb-5">
            <div class="row">
                <div class="col-lg-4 col-md-5 mb-md-0 mb-4">
                    <div class="ui-sticky ui-sticky-top">
                        <!-- product-gallery -->
                        <div class="product-gallery">
                            <div class="product-options">
                                <ul>
                                    <li><a href="#"><i class="ri-heart-3-fill"></i></a></li>
                                    <li><a href="#" data-remodal-target="share-modal"><i class="ri-share-forward-fill"></i></a></li>
                                    <li><a href="#" data-remodal-target="notification-modal"><i class="ri-notification-fill"></i></a></li>
                                    <li><a href="#"><i class="ri-line-chart-fill"></i></a></li>
                                    <li><a href="#"><i class="ri-scales-3-fill"></i></a></li>
                                    <li><a href="#"><i class="ri-play-list-add-fill"></i></a></li>
                                </ul>
                            </div>
                            <div class="gallery-img-container">
                                <div class="gallery-img">
                                    <img src="~/Products/Images/@Model.Product.ImageName" class="zoom-img" alt="ProductImage" style="visibility: visible;">
                                </div>
                                <div class="gallery-thumbs">
                                    @if (Model.Product.ProductImages.Any())
                                    {
                                        <ul>
                                            @foreach (var image in Model.Product.ProductImages)
                                            {
                                                <li data-fancybox="gallery-a" data-src="../Products/ProductImages/@image.ImageName"><img src="~/Products/ProductImages/@image.ImageName" alt="ProductImage"></li>
                                            }
                                        </ul>
                                    }

                                </div>
                            </div>
                        </div>
                        <!--  product-gallery -->
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-7 mb-lg-0 mb-4">
                    <!-- breadcrumb -->
                    <nav class="mb-2" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">@Model.Product.GroupTitle</a></li>
                            @if (!string.IsNullOrEmpty(Model.Product.PrimaryGroupTitle))
                            {
                                <li class="breadcrumb-item"><a href="#">@Model.Product.PrimaryGroupTitle</a></li>
                            }
                            @if (!string.IsNullOrEmpty(Model.Product.SecondaryGroupTitle))
                            {
                                <li class="breadcrumb-item"><a href="#">@Model.Product.SecondaryGroupTitle</a></li>
                            }
                        </ol>
                    </nav>
                    <!--  breadcrumb -->
                    <!-- product-detail -->
                    <h2 class="product-title">
                        @Model.Product.Title
                    </h2>
                    <div class="product-en mb-3">
                        <span>@Model.Product.OtherLangTitle</span>
                    </div>
                    @* <div class="product-user-suggestion mb-2">
                        <i class="ri-thumb-up-fill text-success me-1"></i>
                        <span class="fs-7 me-2">
                        85٪ (289 نفر) از خریداران، این کالا را پیشنهاد کرده
                        اند.
                        </span>
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="خریداران کالا با انتخاب یکی از گزینه‌های پیشنهاد یا عدم پیشنهاد، تجربه خرید خود را با کاربران به اشتراک می‌گذارند." aria-label="خریداران کالا با انتخاب یکی از گزینه‌های پیشنهاد یا عدم پیشنهاد، تجربه خرید خود را با کاربران به اشتراک می‌گذارند."><i class="ri-information-line"></i></span>
                        </div>
                        <div class="product-user-meta fa-num mb-4">
                        <span class="product-users-rating">
                        <i class="ri-star-fill icon me-1"></i>
                        <span class="fw-bold me-1">4.6</span>
                        <span class="text-muted fs-7">(1560)</span>
                        </span>
                        <span class="divider"></span>
                        <a href="#" class="link border-bottom-0 fs-7">1120 دیدگاه کاربران</a>
                        <span class="divider"></span>
                        <a href="#" class="link border-bottom-0 fs-7">650 پرسش و پاسخ</a>
                        </div>*@
                    <div class="product-variants-container mb-3">
                        <div class="product-variant-selected-container">
                            <span class="product-variant-selected-label">@DataDictionaries.Color:</span>
                            <span class="product-variant-selected">@Model.Product.ProductColors.Last().ColorName</span>
                        </div>
                        <div class="product-variants">
                            @if (Model.Product.ProductColors.Any())
                            {
                                @foreach (var color in Model.Product.ProductColors)
                                {
                                    <div class="product-variant-item">
                                        <div class="custom-radio-circle">
                                            <input type="radio" class="custom-radio-circle-input" name="productColor" id="@color.ColorId" checked="">
                                            <label for="@color.ColorId" class="custom-radio-circle-label" data-variant-label="@color.ColorName">
                                                <span class="color" style="background-color: @color.ColorCode;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="@color.ColorName" aria-label="@color.ColorName"></span>
                                            </label>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    @if (Model.Product.ProductDetails.Any())
                    {
                        <div class="expandable-text mb-3" style="height: 100px;">
                            <div class="expandable-text_text">
                                <div class="product-params">
                                    <ul>
                                        @foreach (var detail in Model.Product.ProductDetails.Take(4))
                                        {
                                            <li>
                                                <span class="label">@detail.DetailTitle:</span>
                                                <span class="title">@detail.DetailValue</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="expandable-text-expand-btn">
                                <span class="show-more">
                                    @DataDictionaries.More <i class="ri-arrow-down-s-line"></i>
                                </span>
                                <span class="show-less d-none">
                                    @DataDictionaries.Close <i class="ri-arrow-up-s-line"></i>
                                </span>
                            </div>
                        </div>
                    }

                    <div class="product-additional-info-container mb-3">
                        <span class="icon">
                            <i class="ri-information-line"></i>
                        </span>
                        <div class="product-additional-info">
                            <p>
                                هشدار سامانه همتا: در صورت انجام معامله، از فروشنده کد فعالسازی را
                                گرفته
                                و حتما در حضور ایشان، دستگاه را از طریق #7777*، برای سیمکارت خود
                                فعالسازی نمایید. آموزش تصویری در آدرس اینترنتی hmti.ir/06
                            </p>
                            <p>
                                امکان برگشت کالا در گروه موبایل با دلیل "انصراف از خرید" تنها در
                                صورتی
                                مورد قبول است که پلمپ کالا باز نشده باشد.
                            </p>
                        </div>
                    </div>
                    <div class="widget p-0">
                        <div class="widget-content widget--free-shipping">
                            <div class="free-shipping--detail">
                                <div class="title d-flex align-items-center">
                                    <i class="ri-truck-fill me-1"></i>
                                    @DataDictionaries.FreeDelivery
                                </div>
                                <div class="subtitle">@DataDictionaries.ForSpecialOrders</div>
                            </div>
                            <div class="free-shipping--banner">
                                <img src="~/assets/images/theme/free-shipping--banner.png" alt="@DataDictionaries.FreeDelivery">
                            </div>
                        </div>
                    </div>
                    <!--  product-detail -->
                </div>
                @if (Model.Product.InventoryCount == 0)
                {
                    <div class="col-xl-3 col-lg-4">
                        <!-- product-seller-info -->
                    <div class="product-seller-info ui-box">
                            <div class="seller-info-changeable">
                                <div class="product-seller-row justify-content-center border-bottom mb-4">
                                    <div class="fw-bold fs-6">
                                        ناموجود
                                    </div>
                                </div>
                                <div class="product-seller-row product-remaining-in-stock text-center">
                                    متاسفانه این کالا در حال حاضر موجود نیست. می‌توانید از طریق لیست بالای صفحه، از
                                    محصولات مشابه این کالا دیدن نمایید
                                </div>
                            </div>
                            <div class="product-seller--add-to-cart">
                                <a href="#" class="btn btn-primary w-100" data-toast="" data-toast-type="success" data-toast-color="green" data-toast-position="topRight" data-toast-icon="ri-check-fill" data-toast-title="موفق!" data-toast-message="با موفقیت انجام شد!">
                                    موجود شد به من اطلاع بده
                                </a>
                            </div>
                        </div>
                        <!--  product-seller-info -->
                </div>
                }
                else
                {
                    <div class="col-xl-3 col-lg-4">
                        <!-- product-seller-info -->
                    <div class="product-seller-info ui-box">
                            <div class="seller-info-changeable">
                                <div class="product-seller-counter">
                                    <span class="label">@DataDictionaries.Seller</span>
                                </div>
                                <div class="product-seller-row">
                                    <div class="product-seller-row-icon">
                                        <!-- <i class="ri-store-3-fill"></i> -->
                                    <img src="~/assets/images/seller-logo-small.svg" alt="">
                                    </div>
                                    <div class="product-seller-row-detail">
                                        <div class="product-seller-name mb-1">@DataDictionaries.ShopName</div>
                                    </div>
                                </div>
                                <div class="product-seller-row">
                                    <div class="product-seller-row-icon">
                                        <i class="ri-shield-check-fill"></i>
                                    </div>
                                    <div class="product-seller-row-detail">
                                        <div class="product-seller-row-detail-title">گارانتی ۱۸ ماهه</div>
                                    </div>
                                </div>
                                <div class="product-seller-row product-seller-row--clickable">
                                    <div class="product-seller-row-icon">
                                        <i class="ri-checkbox-multiple-fill"></i>
                                    </div>
                                    @if (Model.Product.InventoryCount > 0)
                                    {
                                        <div class="product-seller-row-detail">
                                            <div class="product-seller-row-detail-title">@DataDictionaries.AvailableInStock</div>
                                            <div class="product-seller-row-detail-subtitle"><i></i> @DataDictionaries.ReadyForSend</div>
                                        </div>
                                    }
                                </div>
                                <div class="product-seller-row product-seller-row--price">
                                    <div class="product-seller-row--price-now fa-num">
                                        <span class="price">@Model.Product.Price.ToString("#,0")</span>
                                        <span class="currency">@DataDictionaries.Toman</span>
                                    </div>
                                </div>
                                @if (Model.Product.InventoryCount <= 5)
                                {
                                    <div class="product-seller-row product-remaining-in-stock">
                                        <span>
                                            @ErrorMessages.LowInventoryMessageS1 <span class="mx-2">@Model.Product.InventoryCount</span> @ErrorMessages.LowInventoryMessageS2 - @ErrorMessages.BuyBeforeFinish
                                        </span>
                                    </div>
                                }
                            </div>
                            <div class="product-seller--add-to-cart">
                                <a onclick="AddToCart('@Model.Product.ProductId','@Model.Product.Title','@Model.Product.Price','@Model.Product.ImageName','@Model.Product.BrandName')" class="btn btn-primary w-100" data-toast="" data-toast-type="success" data-toast-color="green" data-toast-position="topRight" data-toast-icon="ri-check-fill" data-toast-title="@ConfirmationMessages.Succeeded" data-toast-message="@ConfirmationMessages.AddedToCart">
                                    @ButtonCaptions.AddToCard
                                </a>
                            </div>
                        </div>
                        <!--  product-seller-info -->
                </div>
                }

            </div>
        </div>

        <div class="ui-box mb-5">
            <div class="ui-box-title">محصولات مشابه</div>
            <div class="ui-box-content">
                <!-- Slider main container -->
                <div class="swiper product-swiper-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                    <!-- wrapper -->
                    <div class="swiper-wrapper" id="swiper-wrapper-3b55742d1e2c10be8" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                        <!-- Slides -->
                        <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 8" style="width: 268.667px; margin-left: 10px;">

                            <div class="swiper-slide" role="group" aria-label="6 / 8" style="width: 268.667px; margin-left: 10px;">
                                <!-- product-card -->
                                <div class="product-card">
                                    <div class="product-thumbnail">
                                        <a href="#">
                                            <img src="~/assets/images/products/06.jpg" alt="product title">
                                        </a>
                                    </div>
                                    <div class="product-card-body">
                                        <h2 class="product-title">
                                            <a href="product-v1.html">گوشی موبایل اپل مدل iPhone 13 Pro Max A2644 دو سیم‌ کارت ظرفیت 256 گیگابایت و رم 6 گیگابایت</a>
                                        </h2>
                                        <div class="product-variant">
                                            <span class="color" style="background-color: #4d5b63;"></span>
                                            <span class="color" style="background-color: #57415f;"></span>
                                            <span class="color" style="background-color: #f4f4f4;"></span>

                                        </div>
                                        <div class="product-price fa-num">
                                            <span class="price-now">26,780,000 <span class="currency">تومان</span></span>
                                        </div>
                                    </div>
                                    <div class="product-card-footer">
                                        <div class="d-flex align-items-center justify-content-between border-top mt-2 py-2">
                                            <div class="product-actions">
                                                <ul>
                                                    <li>
                                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید">
                                                            <i class="ri-shopping-cart-line"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی">
                                                            <i class="ri-heart-3-line"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal">
                                                            <i class="ri-search-line"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="product-rating fa-num">
                                                <i class="ri-star-fill star"></i>
                                                <strong>4.6</strong>
                                                <span>(351)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  product-card -->
                            </div>
                        </div>
                        <!-- pagination -->
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic" style="width: 80px;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true" style="right: 32px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next" tabindex="0" role="button" aria-label="Go to slide 2" style="right: 32px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" tabindex="0" role="button" aria-label="Go to slide 3" style="right: 32px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4" style="right: 32px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5" style="right: 32px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6" style="right: 32px;"></span></div>

                        <!-- navigation buttons -->
                        <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-59c14a25d20103a20" aria-disabled="false"></div>
                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-59c14a25d20103a20" aria-disabled="false"></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
            <!--  box -->

        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="ui-sticky ui-sticky-top mb-4">
                    <!-- product-tabs -->
                    <div class="product-tabs">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="#scrollspyHeading1" data-scroll="scrollspyHeading1">@DataDictionaries.Review</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading3" data-scroll="scrollspyHeading3">@DataDictionaries.Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading4" data-scroll="scrollspyHeading4">@DataDictionaries.UsersComments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading5" data-scroll="scrollspyHeading5">@DataDictionaries.QAndA</a>
                            </li>
                        </ul>
                    </div>
                    <!--  product-tabs -->
                </div>
                <!-- product-content-expert-summary -->
                <div class="product-tab-content product-content-expert-summary tab-content border-bottom pb-2 mb-4" id="scrollspyHeading1">
                    <div class="product-tab-title">
                        <h2>@DataDictionaries.Review</h2>
                        <h3 class="subtitle">@Model.Product.OtherLangTitle</h3>
                    </div>
                    <div class="expandable-text pt-1" style="height: 250px;">
                        <div class="expandable-text_text">
                            <p>
                                @Html.Raw(@Model.Product.Description)
                            </p>
                        </div>
                        <div class="expandable-text-expand-btn justify-content-start text-sm">
                            <span class="show-more active">
                                @ButtonCaptions.ShowMore <i class="ri-arrow-down-s-line ms-2"></i>
                            </span>
                            <span class="show-less d-none">
                                @ButtonCaptions.ShowLess <i class="ri-arrow-up-s-line ms-2"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <!--  product-content-expert-articles -->
                <!-- product-params -->
                <div class="product-tab-content product-params tab-content border-bottom pb-2 mb-4" id="scrollspyHeading3">
                    <div class="product-tab-title">
                        <h2>مشخصات کالا</h2>
                        <h3 class="subtitle">Apple iPhone 13 Pro Max A2644 Dual SIM 256GB And 6GB RAM Mobile Phone</h3>
                    </div>
                    <div class="expandable-text pt-1" style="height: 520px;">
                        <div class="expandable-text_text fa-num">
                            <!-- params-list -->
                            <div class="params-list">
                                <div class="params-list-title">@DataDictionaries.Details</div>
                                @if (Model.Product.ProductDetails.Any())
                                {
                                    <ul>
                                        @foreach (var detail in Model.Product.ProductDetails)
                                        {
                                            <li>
                                                <span class="param-title">@detail.DetailTitle</span>
                                                <span class="param-value">@detail.DetailValue</span>
                                            </li>
                                        }
                                    </ul>
                                }

                            </div>
                            <!--  params-list -->
                        </div>
                        <div class="expandable-text-expand-btn justify-content-start text-sm">
                            <span class="show-more active">
                                @ButtonCaptions.ShowMore<i class="ri-arrow-down-s-line ms-2"></i>
                            </span>
                            <span class="show-less d-none">
                                @ButtonCaptions.ShowLess <i class="ri-arrow-up-s-line ms-2"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!--  product-params -->
                <!-- product-comments -->
                <div class="product-tab-content product-comments tab-content border-bottom pb-2 mb-4" id="scrollspyHeading4">
                    <div class="product-tab-title mb-0">
                        <h2>امتیاز و دیدگاه کاربران</h2>
                        <h3 class="subtitle">Apple iPhone 13 Pro Max A2644 Dual SIM 256GB And 6GB RAM Mobile Phone</h3>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-5 mb-3">
                            <div class="ui-sticky ui-sticky-top pt-5 z-index-0">
                                <!-- comments-sidebar -->
                                <div class="comments-sidebar">
                                    <div class="comments-sidebar-rating">
                                        <div class="comments-sidebar-rating-main me-2">۴.۱</div>
                                        <div class="comments-sidebar-rating-desc">از ۵</div>
                                    </div>
                                    <div class="comments-sidebar-rating-bottom">
                                        <div class="stars-container justify-content-end">
                                            <div class="stars-text ms-2">از مجموع ۹۴۰ امتیاز</div>
                                            <div class="stars">
                                                <div class="stars-val" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-expert-rating mt-4">
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">کیفیت ساخت</div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">
                                                ارزش خرید به نسبت قیمت
                                            </div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">نوآوری</div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">امکانات و قابلیت ها</div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">سهولت استفاده</div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">طراحی و ظاهر</div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2">دیدگاه خود را درباره این کالا بیان کنید</div>
                                    <button class="btn btn-block btn-outline-primary">
                                        افزودن
                                        دیدگاه
                                    </button>
                                </div>
                                <!--  comments-sidebar -->
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-7 pt-5">
                            <!-- filter-comments -->
                            <div class="filter-comments mb-4">
                                <div class="filter-comments-title me-2">
                                    <i class="ri-list-settings-fill me-1"></i>
                                    <span>مرتب سازی دیدگاه ها بر اساس:</span>
                                </div>
                                <div class="filter-comments-options">
                                    <button class="filter-comments-option active">جدیدترین دیدگاه ها</button>
                                    <button class="filter-comments-option">مفیدترین دیدگاه ها</button>
                                    <button class="filter-comments-option">دیدگاه خریداران</button>
                                </div>
                            </div>

                            <div class="comments">

                                <div class="comment">
                                    <div class="comment-header">
                                        <span>12 مهر 1401</span>
                                        <span>محسن اسماعیلی</span>
                                    </div>
                                    <div class="comment-body">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                        <ul>
                                            <li class="comment-evaluation positive">دوربین قوی</li>
                                            <li class="comment-evaluation positive">باتری 5100</li>
                                            <li class="comment-evaluation positive">خوش دست</li>
                                            <li class="comment-evaluation negative">
                                                مناسب برای کار های حدودا
                                                سنگین و بالاتر
                                            </li>
                                            <li class="comment-evaluation negative">
                                                حسگر اثر انگشت کمی ضعیفه
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="comment-footer">
                                        <span class="me-2">آیا این دیدگاه برایتان مفید بود؟</span>
                                        <button class="comment-like">54</button>
                                        <button class="comment-dislike">8</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!--  product-comments -->
                <!-- product-questions -->
                <div class="product-tab-content product-questions tab-content border-bottom pb-2 mb-4" id="scrollspyHeading5">
                    <div class="product-tab-title mb-0">
                        <h2>پرسش و پاسخ</h2>
                        <h3 class="subtitle">Apple iPhone 13 Pro Max A2644 Dual SIM 256GB And 6GB RAM Mobile Phone</h3>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-5 mb-3">
                            <div class="ui-sticky ui-sticky-top pt-5 z-index-0">
                                <!-- questions-sidebar -->
                                <div class="comments-sidebar">
                                    <div class="border rounded p-2">
                                        <div class="border-bottom pb-2 mb-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                                <label class="form-check-label" for="flexCheckDefault1">
                                                    پرسش های پاسخ داده شده
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                                <label class="form-check-label" for="flexCheckDefault2">
                                                    پرسش های بی پاسخ
                                                </label>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span>پرسش های من</span>
                                            <div class="form-check form-switch mb-0">
                                                <input class="form-check-input ms-0" type="checkbox" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <div class="mb-2">پرسش خود را درباره این کالا بیان کنید</div>
                                        <button class="btn btn-block btn-outline-primary" data-remodal-target="add-question-modal">
                                            ثبت
                                            پرسش
                                        </button>
                                    </div>
                                </div>
                                <!--  questions-sidebar -->
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-7 pt-5">
                            <!-- filter-questions -->
                            <div class="filter-comments mb-4">
                                <div class="filter-comments-title me-2">
                                    <i class="ri-list-settings-fill me-1"></i>
                                    <span>مرتب‌سازی پرسش‌ها بر اساس:</span>
                                </div>
                                <div class="filter-comments-options">
                                    <button class="filter-comments-option active">جدیدترین پرسش ها</button>
                                    <button class="filter-comments-option">مفیدترین پاسخ ها</button>
                                </div>
                            </div>
                            <!--  filter-questions -->
                            <!-- questions -->
                            <div class="comments">
                                <!-- question -->
                                <div class="comment question">
                                    <div class="comment-body border-bottom-0">
                                        <div class="question-title fw-bold">
                                            سلام لطفا کسایی که خریدن جواب بدن
                                            این گوشی 4g+میشه؟مشکل آنتن دهی نداره؟
                                        </div>
                                    </div>
                                    <div class="comment-footer flex-column align-items-start">
                                        <div class="expandable-text pt-1 w-100" style="height: 180px;">
                                            <div class="expandable-text_text">
                                                <div class="border-bottom pb-2 mb-4">
                                                    <div class="d-flex align-items-center mb-3">
                                                        <span class="text-sm me-4">پاسخ</span>
                                                        <p class="mb-0">
                                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                                            و فقط 4G میشه
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                                        <div>
                                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                                        </div>
                                                        <div>
                                                            <span class="me-2">
                                                                آیا این پاسخ برای شما مفید
                                                                بود؟
                                                            </span>
                                                            <button class="comment-like">۶</button>
                                                            <button class="comment-dislike"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="expandable-text-expand-btn justify-content-start text-sm">
                                                <span class="show-more active">
                                                    مشاهده پاسخ های دیگر <i class="ri-arrow-down-s-line ms-2"></i>
                                                </span>
                                                <span class="show-less d-none">
                                                    مشاهده کمتر <i class="ri-arrow-up-s-line ms-2"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  question -->
                                <!-- question -->
                                <div class="comment question">
                                    <div class="comment-body border-bottom-0">
                                        <div class="question-title fw-bold">
                                            سلام خسته نباشید m31 بهتره یا a71 ??
                                        </div>
                                    </div>
                                    <div class="comment-footer flex-column align-items-start">
                                        <div class="expandable-text pt-1 w-100" style="height: 180px;">
                                            <div class="expandable-text_text">
                                                <div class="border-bottom pb-2 mb-4">
                                                    <div class="d-flex align-items-center mb-3">
                                                        <span class="text-sm me-4">پاسخ</span>
                                                        <p class="mb-0">
                                                            اگه به امتیازات رجوع کنید میبین که a71
                                                            در دوربین خیلی ضعیفه
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                                        <div>
                                                            <span class="text-sm me-2">ناشناس</span>
                                                        </div>
                                                        <div>
                                                            <span class="me-2">
                                                                آیا این پاسخ برای شما مفید
                                                                بود؟
                                                            </span>
                                                            <button class="comment-like">۹</button>
                                                            <button class="comment-dislike"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-5">
                                                    <a class="link border-bottom-0" data-bs-toggle="collapse" href="#collapseAnswer02" role="button" aria-expanded="false" aria-controls="collapseAnswer02">ثبت پاسخ جدید <i class="ri-arrow-left-s-line"></i></a>
                                                </div>
                                                <div class="collapse" id="collapseAnswer02">
                                                    <div class="rounded bg-light p-3">
                                                        <form action="#">
                                                            <div class="form-element-row mb-3">
                                                                <label class="label">
                                                                    به این پرسش پاسخ
                                                                    دهید*
                                                                </label>
                                                                <textarea rows="3" class="form-control" placeholder="متن پاسخ"></textarea>
                                                            </div>
                                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                                <div class="mb-2">
                                                                    ثبت پرسش به معنی موافقت با <a href="#" class="link border-bottom-0">
                                                                        قوانین
                                                                        انتشار
                                                                    </a> است.
                                                                </div>
                                                                <div class="mb-2">
                                                                    <button class="btn btn-sm btn-outline-danger me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAnswer02" aria-expanded="false" aria-controls="collapseAnswer02">بستن</button>
                                                                    <button class="btn btn-sm btn-primary">
                                                                        ثبت
                                                                        پاسخ
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="expandable-text-expand-btn justify-content-start text-sm">
                                                <span class="show-more active">
                                                    مشاهده پاسخ های دیگر <i class="ri-arrow-down-s-line ms-2"></i>
                                                </span>
                                                <span class="show-less d-none">
                                                    ثبت پاسخ جدید <i class="ri-arrow-drop-left-line ms-2"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  question -->
                            </div>
                            <!--  questions -->
                        </div>
                    </div>
                </div>
                <!--  product-questions -->
            </div>
            <div class="col-xl-3 col-lg-4 d-lg-block d-none">
                <div class="ui-sticky ui-sticky-top">
                    <!-- mini-buy-box -->
                    <div class="mini-buy-box ui-box bg-transparent p-4">
                        <div class="d-flex border-bottom pb-3 mb-3">
                            <div class="product-thumbnail">
                                <img src="~/Products/Images/@Model.Product.ImageName" alt="product title">
                            </div>
                            <div class="product-details">
                                <div class="product-title">
                                    <h1>
                                        @Model.Product.Title
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="product-features">
                            <div class="d-flex align-items-center mb-2">
                                <i class="ri-store-3-line text-success me-2"></i>
                                <span>MyStore</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <i class="ri-shield-check-line text-info me-2"></i>
                                <span>گارانتی ۱۸ ماهه آوات</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <i class="ri-checkbox-multiple-line text-primary me-2"></i>
                                <span>@DataDictionaries.AvailableInStock</span>
                            </div>
                        </div>
                        <div class="product-price fa-num">
                            <span class="price-value">@Model.Product.Price.ToString("#,0")</span>
                            <span class="currency ms-1">@DataDictionaries.Toman</span>
                        </div>
                        <a href="#" class="btn btn-block btn-primary fw-bold">
                            @ButtonCaptions.AddToCard
                        </a>
                    </div>
                    <!--  mini-buy-box -->
                </div>
            </div>
        </div>
    </div>
</main>