@using _01_Framework.Application
@using ShopManagement.Infrastructure.Configuration.Permissions
@using UserManagement.Application.Contracts.User
@inject IAuthenticationHelper _authenticationHelper;
@inject IUserApplication _userApplication;
@{
    Layout = null;
}
@{
    var manageUserPermissions = new int[]
                            {
        UserPermissions.UsersList,
        UserPermissions.CreateUser,
        UserPermissions.DeleteUser,
        UserPermissions.EditUser,
        UserPermissions.DeletedUsersList
                            };
    var userPermissions = new int[]
                            {
        UserPermissions.UsersList,
        UserPermissions.CreateUser,
        UserPermissions.DeleteUser,
        UserPermissions.EditUser
                            };
    var deletedUserPermissions = new int[]
                    {
        UserPermissions.DeletedUsersList,
        UserPermissions.ReturnUser
                    };
    var manageRolePermissions = new int[]
            {
        RolePermissions.RolesList,
        RolePermissions.CreateRole,
        RolePermissions.EditRole,
        RolePermissions.DeleteRole
            };
    var manageProdcutPermissions = new int[]
            {
        ProductPermissions.ProductsList,
        ProductPermissions.CreateProduct,
        ProductPermissions.ConfirmProductDetails,
        ProductPermissions.CreateProductColor,
        ProductPermissions.CreateProductImage,
        ProductPermissions.DeleteProduct,
        ProductPermissions.DeleteProductColor,
        ProductPermissions.DeleteProductImage,
        ProductPermissions.EditProduct,
        ProductPermissions.ProductImagesList
            };
    var manageInventoryPermissions = new int[]
    {
        InventoryPermissions.ChangeInventory,
        InventoryPermissions.InventoriesList,
        InventoryPermissions.ShowInventoryHistory
    };
    var manageproductGroupPermissions = new int[]
    {
        ProductGroupPermissions.PoductGroupsList,
        ProductGroupPermissions.CreateGroup,
        ProductGroupPermissions.EditGroup,
        ProductGroupPermissions.DeleteGroup,
        ProductGroupPermissions.GroupDetailsList,
        ProductGroupPermissions.CreateGroupDetail,
        ProductGroupPermissions.EditGroupDetail,
    };
}
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div>
                <img src="~/UserAvatar/@_authenticationHelper.GetCurrentUserAvatarName()" alt="" class="img-circle center-block" style="max-width: 30%;max-height: 30% ">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@((!string.IsNullOrEmpty(_authenticationHelper.GetCurrentUserEmail()))?_authenticationHelper.GetCurrentUserEmail():_authenticationHelper.GetCurrentUserPhoneNumber())<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/UserPanel"><i class="md md-face-unlock"></i> @ButtonCaptions.UserPanel<div class="ripple-wrapper"></div></a></li>
                        <li><a href="/Account/RegisterAndLogin/Logout"><i class="md md-settings-power"></i> @ButtonCaptions.Logout</a></li>
                    </ul>
                </div>
                <p class="text-muted m-0">@_userApplication.GetCurrentUserRoleTitle()</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a href="~/Administration" class="waves-effect active"><i class="md md-home"></i><span> @DataDictionaries.Dashboard </span></a>
                </li>

                <li permissions="manageUserPermissions" class="has_sub">
                    <a class="waves-effect"><i class="md md-people"></i><span> @DataDictionaries.ManageUsers </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">

                        <li permissions="userPermissions">
                            <a href="~/Administration/Users">@DataDictionaries.UsersList</a>
                        </li>

                        <li permissions="deletedUserPermissions">
                            <a href="~/Administration/Users/DeletedUsers">@DataDictionaries.DeletedUsersList</a>
                        </li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a class="waves-effect"><i class="md md md-shopping-cart"></i><span> @DataDictionaries.ProductsManagement </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">

                        <li permissions="manageProdcutPermissions">
                            <a id="btnProducts" href="~/Administration/Shop/Products">@DataDictionaries.Products</a>
                        </li>

                        <li permissions="manageproductGroupPermissions">
                            <a href="~/Administration/Shop/ProductBrands">@DataDictionaries.ProductBrands</a>
                        </li>
                        <li >
                            <a href="~/Administration/Shop/ProductGroups">@DataDictionaries.ProductGroups</a>
                        </li>
                    </ul>
                </li>
                
                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-local-offer"></i><span> @DataDictionaries.DiscountManagement </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">

                        <li>
                            <a href="~/Administration/Discounts/OrderDiscounts">@DataDictionaries.OrderDiscounts</a>
                        </li>

                        <li>
                            <a href="~/Administration/Discounts/ProductDiscounts">@DataDictionaries.ProductDiscounts</a>
                        </li>
                    </ul>
                </li>

                <li permissions="manageRolePermissions">
                    <a href="/Administration/Roles" class="waves-effect"><i class="md-settings"></i><span> @DataDictionaries.ManageRolesAndPermissions </span></a>
                </li>
                <li permissions="manageInventoryPermissions">
                    <a href="/Administration/Inventories" class="waves-effect"><i class="md-system-update"></i><span> @DataDictionaries.InventoryManagement </span></a>
                </li>

                <li>
                    <a href="/Account/RegisterAndLogin/Logout" class="waves-effect"><i class="md-exit-to-app"></i><span> @DataDictionaries.Exit </span></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
